.mod-face {
  height: 100%;
  background-image: url("imgs/posters/main_bg.jpg");
  background-position: center top;
  background-size: cover;
}


{% include mod/face/desktop/c.css %}

{% include mod/face/promo_music_track/c.css %}
