{% include menu/c.css %}

.header {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 100;
}

.header-btn-menu {
  border: none;
  background: none;
  cursor: pointer;
}

.header-icon {
  width: 50px;
}
