.mod-face-promo_music_track {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

/* sm */
@media (max-width: 768px) {
  .mod-face-promo_music_track {
    display: none;
  }
}


.mod-face-promo_music_track-available {}

.mod-face-promo_music_track-available .row {
  margin-bottom: var(--indent-m);
}

.mod-face-promo_music_track-cover {
  border-radius: 5px;
  border: 5px #F9D9CAA5 solid;
}

.mod-face-promo_music_track-icons-shops a:first-child {
  margin-right: var(--indent-xxl);
}


.mod-face-promo_music_track-icon-buy {
  height: 30px;
  display: inline-block;
}


.mod-face-promo_music_track-badge-shop-wrap {
  display: flex;
  flex-direction: row-reverse;
}

.mod-face-promo_music_track-shop {
  display: flex;
  align-items: center;

  background-color: #DAB8B4;
  border-radius: 5px;
  width: 80px;
  height: 35px;

  padding: var(--indent-xxs) var(--indent-s);

  box-shadow: 7px 7px #624039;
}


/* sm */
@media (min-width: 576px) {
  .mod-face-promo_music_track-cover {
    margin: var(--indent-s) var(--indent-s) var(--indent-s) var(--indent-xl);
  }
}



/* md */
@media (min-width: 768px) {
}



/* lg */
@media (min-width: 992px) {

}



/* xl */
@media (min-width: 1200px) {
  .mod-face-promo_music_track {
    flex-direction: row;
    justify-content: start;
  }

  .mod-face-promo_music_track-cover {
    margin: var(--indent-s) var(--indent-xl) var(--indent-s) var(--indent-s);
  }
}
