.mod-face-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: var(--indent-xl) var(--indent-s) var(--indent-s) var(--indent-xl)
}

.mod-face-promo-available {
  margin-top: var(--indent-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mod-face-promo-available .row {
  margin-bottom: var(--indent-m);
}

.mod-face-promo-cover {
  border-radius: 5px;
  border: 5px #F9D9CAA5 solid;
  height: 300px;
}


.mod-face-promo-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mod-face-promo-icon-buy:first-child {
  margin-bottom: var(--indent-m);
}


.mod-face-promo_music_track-icons-shops a:first-child {
  margin-right: var(--indent-xxl);
}


.mod-face-promo-icon-buy {
  height: 60px;
}


.mod-face-promo-shop-wrap {}

.mod-face-promo-shop {
  display: flex;
  align-items: center;

  background-color: #DAB8B4;
  border-radius: 5px;
  width: 80px;
  height: 35px;

  padding: var(--indent-xxs) var(--indent-s);

  box-shadow: 7px 7px #624039;
}


/* sm */
@media (min-width: 576px) {
  .mod-face-promo-cover {
    height: 350px;
  }
  /*.mod-face-promo_music_track-cover {*/
    /*margin: var(--indent-s) var(--indent-s) var(--indent-s) var(--indent-xl);*/
  /*}*/
}



/* md */
@media (min-width: 768px) {
  .mod-face-promo-cover {
    height: 400px;
  }
}



/* lg */
@media (min-width: 992px) {

}



/* xl */
@media (min-width: 1200px) {
  /*.mod-face-promo_music_track {*/
    /*flex-direction: row;*/
    /*justify-content: start;*/
  /*}*/

  /*.mod-face-promo_music_track-cover {*/
    /*margin: var(--indent-s) var(--indent-xl) var(--indent-s) var(--indent-s);*/
  /*}*/
}
